* { 
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h1 {font-weight: lighter; font-size: 2em;}
h2 {font-weight: lighter; font-size: 1em;}
h3 {}

p {}
a:link { text-decoration:  none; color: #666 }
a:hover { color: #333; }
a:active { color: #F0F; }
a:visited { color: #666; }

ol {}
ul {}
li {}

header {
	padding: 20px;
	width: 400px;
}

footer {

}

#map_image img {
	width: 100%;
	border: none;
}

#countdown {
	background: black;
	color: white;
	font-family: sans-serif;
	font-size: 4em;
	padding: 20px;
}

/* Toggle Buttons */

label { 
    padding:0.4em 2em 0.4em 0; 
}

.toggle-btn { 
    text-align:centre; 
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 1.5em;
    color:#000; 
    background-color:#FFF; 
    border-radius:0px; 
    display:inline-block; 
    border:solid 1px #CCC; 
    cursor:pointer;
}

.toggle-btn-grp * {
	float: right;
	margin-left: auto;
	margin-right: auto;
    height:50px;
    width:100%;
    line-height:50px;
}
.toggle-btn-grp div {
    position: fixed;
    bottom: 100px;
    left:0px; 

    display:inline-block;
    margin:0px;
}

.toggle-btn-grp div label {
    z-index:0;
    padding:0;
    text-align:center;
}

.toggle-btn-grp #button_1 {

}

.toggle-btn-grp #button_2 {
    bottom: 50px;
}

.toggle-btn-grp div input {
    z-index:1;
    cursor:pointer;
    opacity:0;
}

.toggle-btn-grp div:hover label {
    border:solid 1px #a0d5dc !important; 
    background:#f1fdfe;
}

.toggle-btn-grp div input:checked + label {
    background: black;
    color: white;
    border:solid 1px black !important; 
}

