* { 
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h1 {font-weight: lighter; font-size: 2em;}
h2 {font-weight: lighter; font-size: 1em;}
h3 {}

p {}
a:link { text-decoration:  none; color: #666 }
a:hover { color: #333; }
a:active { color: #F0F; }
a:visited { color: #666; }

ol {}
ul {}
li {}

header {
    /*position: absolute;
    top: 0px;
	padding: 10px 100px;
    height:50px;
	width: 100%;
    z-index:1;*/
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

#countdown {
    top: 0px;
    width: 100%;
    height: 75px;
	background: black;
	color: white;
	font-family: sans-serif;
	font-size: 3em;
	padding: 20px;
}

#buttons {
	top: 80px;
	position: absolute;
	padding: 0px;
	background: black;
}

#buttons ul{
	list-style: none;
}

#buttons ul li{
	display: inline;
	margin: 0;
	padding: 10px;
	background: white;
	
}

#scoreboard {
    position: absolute;
    top: 0px;
    left: 350px;
    height: 75px;
    color:white;
    background-color: black;
    font-family: sans-serif;
    font-size: .75em;
    padding: 5px;
}

#scoreboard ul{
    list-style: none;
}

#scoreboard li{
    border-top: white 1px solid;
    padding: 3px;
}

#map-canvas {
    width: 100%;
    height: 600px;
    margin: 0px;
    padding: 0px
    z-index:-1;
}

#debug_data {
    visibility: hidden;
}

#draw {
    visibility: hidden;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

/* End Game Message */
#end_game {
	visibility: hidden;
	max-width: 600px;
	margin: 200px;
	position: absolute;
	z-index: 10000;
	color: white;
	font-size: 2em;
	background: black;
	padding: 20px;
}


/* Dialog box */
dialog {
  border-radius: 30px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 600px;
  margin: 0 auto 0 auto;
}

dialog h1{
	font-weight: lighter;
	padding: 0 0 12px 0;
	border-bottom: 1px solid rgba(0,0,0, 0.1)
}

dialog h2{
	padding: 12px 0 12px 0;
}

dialog p{
	padding: 0 0 12px 0;
	font-size: .8em;
	font-weight: lighter;
	line-height: 1.5em;
}

dialog b{
	font-weight: 500;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

#close {
	padding: 10px;
	font-weight: lighter;
	font-size: 1.4em;
	border-radius: 15px;
	background-color: #FFD500;
}

button:focus {outline:0;}

/* Radio button styling */
.onoffswitch {
    position: absolute; 
    top: 0px;
    width: 156px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000; border-radius: 23px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 23px;
    box-shadow: 0px 11.5px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
    content: "RELEASE";
    padding: 0 0 0 50px;
    background-color: #FFD500; color: #FFFFFF;
    border-radius: 23px 0 0 23px;
}
.onoffswitch-inner:after {
    content: "JOIN";
    padding: 0 50px 0 0;
    background-color: #FFFFFF; color: #000000;
    text-align: right;
    border-radius: 0 23px 23px 0;
}
.onoffswitch-switch {
    display: none; width: 23px; margin: 0px;
    background: #000000;
    border: 2px solid #FFFFFF; border-radius: 23px;
    position: absolute; top: 0; bottom: 0; right: 129px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}